<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="insof.net" value="https://nuget.pkg.github.com/insof-net/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <insof.net>
            <add key="Username" value="%GH_ACTION_PACKAGE_USER%" />
            <add key="ClearTextPassword" value="%GH_ACTION_PACKAGE_TOKEN%" />
        </insof.net>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceMapping>
        <packageSource key="insof.net">
            <package pattern="Insof.*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>